html, body {
	height: 100%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: #49655C;
}

#LoginContent, #SignUpContent {
	background-color: #90D4CC;
  	background-image: url("../Icon/LoginBgPic.svg");
  	min-height: 100%; 
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: 1200px;
	padding: 30px;  
}

.card {
	background-color: #DEE7E6;
}

h1, h2 {
	color: #49655C;
	font-weight: bolder;
}

a {
	color: #49655C;
}

a:hover {
	text-decoration: none;
	color: white;
}

.backIcon {
	transition: transform .2s;
}

.backIcon:hover {
	transform: scale(1.2);
}

#cardLogin{
	width: 500px;
}

#cardSignUp{
	width: 700px;
}

.form-control-login {
	border: none;
	width: 350px;
}

input[type=email].fcEmail{
	background-color: #F2F2F2;
	border: none;
	width: 350px;
}

.form-control-register {
	border: none;
}

.btn {
	background-color: #49655C;
	color: white;
}
  
.btn:hover {
	background-color: white;
	color: #49655C;
}

#smallLink {
	font-size: 10px;
	font-weight: bolder;
}



