/*General*/

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html, body {
	height: 100%;
}

/*Navigation Bar*/
nav {
	background-color: #DEE7E6;
}

#greeting {
	padding-top: 20px;
	padding-right: 20px;
	font-family: "Gill Sans MT";
	font-weight: bold;
	color: #49655C;
}

.dropdown-toggle::after { 
    content: none; 
}

.btn {
  background-color: #49655C;
  color: white;
}

.btn:hover {
  background-color: white;
  color: #49655C;
  border-color: #49655C;
}

.iconAv {
  transition: transform .2s;
}

.iconAv:hover {
  transform: scale(1.1);
}

/* Content */
#PlayerContent {
	height: 90%;
  background-color: #F2F2F2;
}

.contentTitle, .backNav {
  padding-top: 7rem;
  padding-left: 2.5rem;
  padding-bottom: 1rem;
}

.backNav {
  text-decoration: none;
  color: #49655C;
  font-weight: bold;
}

.backNav:hover {
  text-decoration: none;
  color: white;
}

/* Footer */
footer {
	background-color: #49655C;
	height: 10%;
	color: white;
	display: flex;
  align-items: center;
}

#leftFooter {
	font-size: 0.75vw;
}

#socialMedia {
	font-weight: bold;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 40px;
  text-decoration: none;
  margin: 0px 3px;
  border-radius: 50%;
  transition: transform .2s;
}

.fa:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

/*Player - Profle*/

.profileCard {
  min-height: 27rem;
}

.socialMediaIcon {
  transition: transform .2s;
}

.socialMediaIcon:hover {
  transform: scale(1.1);
}

.gamesCard {
  background-color: #DEE7E6;
  width: 12rem;
  border: none;
}