/* General */

p {
	font-family: "Gill Sans MT";
}

/*Navigation Bar*/
nav {
	background-color: #DEE7E6;
}

img {
	margin: 0px 15px;
}

#navLink, #signInBtn {
	font-family: "Gill Sans MT";
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding: 0px 20px;
}

.nav-item {
	
}

#navLink:hover {
	color: #49655C;
}

#signInBtn {
	background-color: #49655C;
	border-radius: 25px;
	padding: 10px 40px;
}

#signInBtn:hover {
	color: #49655C;
	background-color: #ffffff;
}

/*Content*/
#homeContent {
	background-color: #90D4CC;
	min-height: 763px;
	padding-top: 130px;
}
#aboutUsContent {
	background-color: #DEE7E6;
	min-height: 763px;
	padding-top: 100px;
}

#gamesContent {
	background-color: #90D4CC;
	min-height: 763px;
}

/*HomeContent*/
#joinUsBtn {
	font-family: "Gill Sans MT";
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	background-color: #F0750F;
	border-radius: 25px;
	margin: 75px 150px;
	padding: 10px;
}

#joinUsBtn:hover {
	color: #F0750F;
	background-color: #ffffff;
}

/*AboutUsContent*/
#desc {
	width: 500px;
	height: 200px;
	background-color: #F0750F;
	color: #ffffff;
	padding: 40px 20px;
	border-style: none;
	font-family: "Gill Sans MT";
	font-size: 20px;
}

.card-title {
	padding-bottom: 10px;
	font-weight: bold;
}

/*GamesContent*/
#gameTitle {
	font-family: "Gill Sans MT";
	font-size: 3vw;
	color: white;
	padding-top: 100px;
	padding-bottom: 30px;
	font-weight: bold;
	text-shadow: 2px 2px #8a795d;
}

.gameInfo {
	background: #DEE7E6;
	height: 470px;
	width: 1000px;
}
.gameName {
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: bold;
}

.gameData {
	background: #DEE7E6;
	padding: 5px 10px;
}

.gameVenuePic {
	height: 250px;
}

.gamePlayerUpdates {
	height: 220px;
}

.pLayerUpdateData{
	background: #F0750F;
	color: white;
	font-weight: bold;
	padding: 25px;
	border-radius: 50%;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	filter: invert(1);
}

#viewGames {
	background-color: #49655C;
	color: #ffffff;
	padding: 10px;
	margin: 20px;
	width: 200px;
	border-radius: 25px;
	font-weight: bold;
}

#viewGames:hover {
	color: #49655C;
	background-color: #ffffff;
}



/*Footer*/
footer {
	background-color: #49655C;
	min-height: 200px;c
}

.footerContent {
	color: white;
	padding-top: 20px;
}

#openFooter {
	font-size: 1.25vw;
}

#closeFooter {
	font-size: 1vw;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 0px 3px;
  border-radius: 50%;
  transition: transform .2s;
}

.fa:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}