/* Navigation Bar*/
nav {
	background-color: #DEE7E6;
}

img {
	margin: 0px 15px;
}

#navLink, #signInBtn {
	font-family: "Gill Sans MT";
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	padding: 0px 20px;
}

.nav-item {
	
}

#navLink:hover {
	color: #49655C;
}

#signInBtn {
	background-color: #49655C;
	border-radius: 25px;
	padding: 10px 40px;
}

#signInBtn:hover {
	color: #49655C;
	background-color: #ffffff;
}

/*Content*/
#homeContent {
	background-color: #90D4CC;
	min-height: 763px;
	padding-top: 130px;
}
#aboutUsContent {
	background-color: #DEE7E6;
	min-height: 763px;
	padding-top: 100px;
}

#gamesContent {
	background-color: #90D4CC;
	min-height: 763px;
	padding-top: 50px;
}

#joinUsBtn {
	font-family: "Gill Sans MT";
	font-size: 40px;
	font-weight: bold;
	color: #ffffff;
	background-color: #F0750F;
	border-radius: 25px;
	margin: 75px 150px;
	padding: 10px;
}

#joinUsBtn:hover {
	color: #F0750F;
	background-color: #ffffff;
}

#desc {
	width: 500px;
	height: 200px;
	background-color: #F0750F;
	color: #ffffff;
	padding: 40px 20px;
	border-style: none;
	font-family: "Gill Sans MT";
	font-size: 20px;
}

.card-title {
	padding-bottom: 10px;
	font-weight: bold;
}

/*Footer*/
footer {
	background-color: #49655C;
	min-height: 200px;c
}

.footerContent {
	font-family: "Gill Sans MT";
	color: white;
	padding-top: 20px;
}

#openFooter {
	font-size: 1.25vw;
}

#closeFooter {
	font-size: 1vw;
}

.fa {
  padding: 10px;
  font-size: 30px;
  width: 50px;
  text-decoration: none;
  margin: 0px 3px;
  border-radius: 50%;
  transition: transform .2s;
}

.fa:hover {
    text-decoration: none;
    transform: scale(1.1);
    color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}